/* Initial loading */

body {
	max-width: 1024px;
	margin: auto;
}

body.docLoading {
	overflow: hidden;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #FFF;
	z-index: 999;
}

.loading > div {
	position: absolute;
	width: 200px;
	height: 200px;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.loading p {
	font-size: 30px;
	font-weight: bold;
	color: rgba(80, 90, 100, 0.9);
}

/* navBar */

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #505A64;
	font-weight: bold;
	color: #FFF;
}

nav .navInner {
	max-width: 1024px;
	margin: auto;
}

nav .logo {
	float: left;
	background-image: url("../img/logoThumb.png");
	background-size: auto 2rem;
	background-repeat: no-repeat;
	background-position: 0.5rem 0.5rem;
	padding: 1rem 0 1rem 4.2rem;
}

nav .navItems {
	float: right;
	padding: 1rem 0;
}

nav .navItem {
	text-decoration: none;
	padding: 1rem 0.666rem;
	margin-right: 0.666rem;
	cursor: pointer;
}

.clearDiv {
	clear: both;
}

/* mastHead */
#mastHead {
	position: relative;
	height: 100vh;
	width: 100%;
}
#mastHead img {
	position: absolute;
	top: 15%;
	left: 38%;
	width: 25%;
}