/* RESET STYLES - DO NOT DELETE
--------------------------------*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
	font-family: Helvetica;
	color: #2a2a2a;
	padding-top: 80px;
	background-color: #FFF;
}

.sktContainer {
	width: 401px;
	margin: 30px auto;
}

.sktWindow {
	position: relative;
	z-index: 2;
}

.sktWindow[lineType=pencil] {
	cursor: url(../images/pencilCursor.png) 1 15, auto;
}

.safariCursor[lineType=pencil] {
	cursor: url(../images/pencilCursor.png) 1 14, auto;
}

.sktWindow[lineType=line] {
	cursor: url(../images/lineCursor.png) 7.5 7.5, auto;
}

.safariCursor[lineType=line] {
	cursor: url(../images/lineCursor.png) 8 7, auto;
}

.canvasOuter > .printableHeading {
	position: absolute;
    width: 100%;
    margin: 0;
    color: #000;
    font-weight: bold;
    text-align: center;
    top: 15px;
	z-index: 3;
}

.canvasOuter {
	position: relative;
	display: -webkit-inline-flex;
	display: inline-flex;
	border: 1px solid #000000;
	background-color: #000;
}

.errorText {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	opacity: 0.8;
}

.errorText > p {
    margin-bottom: 13px;
    color: #fff;
    text-align: center;
}

/*--------------- Options base styles ---------------*/

.optionsContainer,
.optionsContainer > div {
	display: -webkit-inline-flex;
	display: inline-flex;
	position: relative;
}
.optionsContainer {
	margin-bottom: 15px;
	background-color: #fff;
}

.lineSelector,
.colourSelector,
.sktButton {
	cursor: pointer;
}

.lineSelector::before,
.buttons::before,
.lineSelector::after,
.colourSelector::after {
	content: '';
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.lineSelector::before,
.buttons::before {
	border-left: 1px solid #d4d4d4;
	height: 20px;
	left: 0;
}

.colourSelector::after,
.lineSelector::after {
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: #58595B transparent;
	right: 19px;
}

.colourSelector:hover,
.lineSelector:hover {
	border-top: 2px solid #58595B;
}

.colourSelector:hover::after,
.lineSelector:hover::after {
	margin-top: -1px;
}

/*--------------- Colour options ---------------*/

.colourOptions {
	position: absolute;
    top: 100%;
    left: 0;
	width: 99px;
	background: #fff;
	padding: 20px 5px 20px 18px;
	border-top: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	z-index: 999;
	display: none;
}

.chosenColour,
.selectedColour,
.colourOption {
	width: 20px;
}

.selectedColour,
.colourOption {
	height: 20px;
}

.colourOption:hover {
	border: 1px solid white;
    box-sizing: border-box;
}

.chosenColour {
	margin: 0 35px 0 18px;
	position: relative;
}

.selectedColour {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 1px solid #fff;
	outline: 1px solid #A7A9AC;
}

.colourSelector:hover .selectedColour {
	margin-top: -1px;
}


.colourOption {
	float: left;
    margin: 0 1px 1px 0;
}

.colourOption:nth-child(4n+4) {
	margin-right: 0px;
}

/*--------------- Line options ---------------*/

.lineOptions {
	position: absolute;
	width: 158px;
	top: 100%;
    left: 0;
	background: #fff;
	padding: 10px 0 10px 0;
    border-top: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	z-index: 999;
	display: none;
}

.chosenLine {
	position: relative;
	margin: 0 25px 0 18px;
	width: 115px;
}

.lineOptionHover {
	position: relative;
	height: 32px;
	width: 100%;
 }

.lineOptionHover:hover {
	background: #e4e4e4;
}

.chosenLine > div,
.lineOptionHover > div {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.lineOptionHover > div {
	margin-left: 18px;
}

.sktOptionImg {
	height: 15px;
}

.sktOptionImg,
.sktOptionText {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 1;
    color: #58595B;
    vertical-align: top;
    float: left;
}

.sktOptionText {
	margin-left: 7px;
}

.lineSelector:hover .chosenLine > div {
	margin-top: -1px;
}

/*--------------- Stroke size options ---------------*/

/*.sizeOption span {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	background-color: #FFF;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}*/

.hidden {
	display: none;
}

/*--------------- Button styling ---------------*/

.buttons {
	padding: 10px;
}

.sktButton {
	float: left;
	position: relative;
    height: 30px;
    width: 30px;
    padding: 0 10px;
}

.sktUndoIcon,
.sktResetIcon,
.sktDownloadIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.sktUndoIcon {
	height: 19.317px;
    margin-top: -2px;
}

.sktResetIcon,
.sktDownloadIcon {
	height: 25px;
}

.sktDarkIcon {
	-webkit-transition: display .13s ease-in-out;
	-moz-transition: display .13s ease-in-out;
	-ms-transition: display .13s ease-in-out;
	-o-transition: display .13s ease-in-out;
	transition: display .13s ease-in-out;
	display: none;
}

.sktButton:hover .sktDarkIcon {
	display: initial;
}

/*--------------- Tooltip styling ---------------*/

.sktButton p {
	color: #fff;
	background-color: #747474;
    font-size: 12px;
    padding: 1px 10px;
    margin-top: 10px;
    border-radius: 2px;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: display .13s ease-in-out;
	-moz-transition: display .13s ease-in-out;
	-ms-transition: display .13s ease-in-out;
	-o-transition: display .13s ease-in-out;
	transition: display .13s ease-in-out;
	display: none;
	z-index: 999;
}

.sktButton:hover p {
	display: initial;
}