
/* --------------- */
/* TIMELINE STARTS */
/* --------------- */

#timeline-main-container {
  margin-top:20px;
  position:relative;
  font-size: 14px;
  width: 820px;
}

#timeline-container {
  overflow: hidden;
  width: 656px;
  margin: 0px auto;
  height: 44px;
  background-image: url('../images/timeline-background.png');
  background-repeat: repeat-x;
  position: relative;
}

#timeline-scrolling-container {
  position:absolute;
  left:0px;
  padding-left: 15px;
}

#borderLeft {
  border-left: 2px solid #dfdfdf;
  width:1px;
  height:20px;
  position: absolute;
  top: 50%;
  bottom: 0;
  left:0px;
}

#borderRight {
  border-right: 2px solid #dfdfdf;
  width:1px;
  height:20px;
  position: absolute;
  top: 50%;
  bottom: 0;
  right:0px;
}

.arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 17px;
  border: 2px solid #dfdfdf;
  border-radius: 50px;
  cursor: hand;
  cursor: pointer;
}

.arrow:hover {
  border:2px solid #879946;
  color:#879946;
}

.arrow a {
  position: absolute;
  top: -5px;
  text-decoration: none;
  font-size: 27px;
  color: #879946;
}

.arrow a:active {
  color:#879946;
}


#next-arrow {
  right:20px;
}

#previous-arrow {
  left:20px;
  }

#next-arrow a {
  margin-left: 7px;
}



#previous-arrow a {
  margin-left: 4px;
}

.milestone {
  margin-right: 30px;
  float: left;
  position: relative;
  width: 100px;
  height: 42px;
  text-align: center;
}

.inactive-milestone {
  cursor: hand;
  cursor: pointer;
}


.active-milestone .timeline-circle {
    border:2px solid #879946;
    background-color:#879946;
}

.inactive-milestone .timeline-circle {
  border:2px solid #dfdfdf;
    background-color:#f8f8f8;
}

.inactive-milestone:hover {
  text-decoration: underline;
}

.timeline-circle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  position: absolute;
  bottom: 3px;
  left: 45px;
  z-index: 1;
}


/* ----------------- */
/* TIMELINE FINISHES */
/* ----------------- */

#content {
  max-width:100%;
  padding:0px 20px;
}

#milestone-main-container {
  position: relative;
  margin:40px auto 20px;
  height: 350px;
  margin-left: 83px;
  border:double 3px #999;
  width: 650px;
}

.milestone-content {
  max-width:100%;
  margin:0 auto;
  position: absolute;
  top:10px;
  left:10px;
}

.clearDiv {
  clear:both;
}
